html {
    margin: 0;
    height: 100%;
}

body {
    background: url('../images/books_with_lights.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#tagline {
    margin: 15% 0 0;
}

h1#title {
    font-family: 'Raleway', sans-serif;
    font-size: 8em;
    color: white;
    font-weight: 300;
    opacity: 0;
    text-align: center;
    -webkit-animation: fadein 1 ease-in 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s ease-in 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 1s ease-in 0.5s; /* Internet Explorer */
    -o-animation: fadein 1s ease-in 0.5s; /* Opera < 12.1 */
    animation: fadein 1s ease-in 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

hr#underTitle {
    width: 25%;
    border: 2px solid white;
    margin-top: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 1.5em;
}